#root {
    background-color: #282c34;
  }
  
  .Events {
    text-align: center;
  }
  
  .Events-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .Events-header {
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: orange;
  }
  
  .Events-link {
    color: #61dafb;
  }
  
  .menu {
    /* display: flex; */
    position: absolute;
    /* justify-content: flex-end; */
    /* align-items: center; */
    padding: 10px;
    left: -300px;
    width: 200px;
    height: 100%;
    background-color: #393a3d;
  }
  
  nav {
    background-color: #393a3d;
    display: flex;
    /* flex-direction:row; */
    align-items: center;
    /* padding: 0 20px;  */
  }
  
  h1 {
    padding-left: 43%;
  }
  
  h2 {
    color: aliceblue;
  }
  
  .menu.open {
    font-size: calc(10px + 2vmin);
    display: block;
    left: 0px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 4%;
    margin: 0;
  }
  
  .menu ul li {
    display: inline-block;
    padding-top: 20%;
    cursor: pointer;
  }
  
  a {
    text-decoration: none; /* no underline */
    color: orange;
  }
  
  /* .toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  } */
  
  /* .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
  }
  
  .toggle span {
    height: 2px;
    width: 25px;
    background-color: #fff;
    margin-bottom: 4px;
    transition: all 0.3s ease;
  }
   */
  